## Import libraries and datasets

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
df1 = pd.read_excel('Underutilised persons by Age and Sex.xls', sheet_name='Data1', index_col=0, parse_dates=True)
df2 = pd.read_excel('Underutilised persons by Age and Sex.xls', sheet_name='Data2', index_col=0, parse_dates=True)

## Preparing Dataset

In [3]:
df = pd.concat([df1, df2], axis=1)

In [4]:
df.head(10)

,Employed total ; Persons ;,Employed total ; Males ;,Employed total ; Females ;,> Employed full-time ; Persons ;,> Employed full-time ; Males ;,> Employed full-time ; Females ;,> Employed part-time ; Persons ;,> Employed part-time ; Males ;,> Employed part-time ; Females ;,Underemployed total (expanded analytical series) ; Persons ;,...,65 years and over ; >> Underemployed full-time (prefer more hours) ; Females ;,65 years and over ; > Underemployed part-time (expanded analytical series) ; Persons ;,65 years and over ; > Underemployed part-time (expanded analytical series) ; Males ;,65 years and over ; > Underemployed part-time (expanded analytical series) ; Females ;,65 years and over ; >> Underemployed part-time (prefer more hours) ; Persons ;,65 years and over ; >> Underemployed part-time (prefer more hours) ; Males ;,65 years and over ; >> Underemployed part-time (prefer more hours) ; Females ;,65 years and over ; >> Underemployed part-time (worked less than usual hours for economic reasons) ; Persons ;,65 years and over ; >> Underemployed part-time (worked less than usual hours for economic reasons) ; Males ;,65 years and over ; >> Underemployed part-time (worked less than usual hours for economic reasons) ; Females ;
Unit,000,000,000,000,000,000,000,000,000,000,...,000,000,000,000,000,000,000,000,000,000
Series Type,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original,...,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original
Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,...,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK
Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
Collection Month,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Series Start,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,...,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00,2014-07-01 00:00:00
Series End,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,...,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00,2020-04-01 00:00:00
No. Obs,70,70,70,70,70,70,70,70,70,70,...,70,70,70,70,70,70,70,70,70,70
Series ID,A85254808W,A85254638T,A85254548L,A85254806T,A85254636L,A85254546J,A85254807V,A85254637R,A85254547K,A85254815V,...,A85254833X,A85254632C,A85254662T,A85254832W,A85254630X,A85254660L,A85254830T,A85254634J,A85254664W,A85254834A
2014-07-01 00:00:00,11542.2,6224.37,5317.79,8043.65,5172.64,2871,3498.51,1051.72,2446.79,1690.06,...,1.20505,31.562,20.5138,11.0482,21.5109,13.4896,8.02124,10.0511,7.02412,3.02697

In [5]:
# After filtering the selected columns, the index 'Unit', 'Series Type' and etc are not needed
df.drop(index=['Unit', 'Series Type', 'Data Type', 'Frequency', 'Collection Month', 'Series Start', 
               'Series End', 'No. Obs', 'Series ID'], axis=0, inplace=True)

In [6]:
df.columns

Index(['Employed total ;  Persons ;', 'Employed total ;  Males ;',
       'Employed total ;  Females ;', '> Employed full-time ;  Persons ;',
       '> Employed full-time ;  Males ;', '> Employed full-time ;  Females ;',
       '> Employed part-time ;  Persons ;', '> Employed part-time ;  Males ;',
       '> Employed part-time ;  Females ;',
       'Underemployed total (expanded analytical series) ;  Persons ;',
       ...
       '65 years and over ;  >> Underemployed full-time (prefer more hours) ;  Females ;',
       '65 years and over ;  > Underemployed part-time (expanded analytical series) ;  Persons ;',
       '65 years and over ;  > Underemployed part-time (expanded analytical series) ;  Males ;',
       '65 years and over ;  > Underemployed part-time (expanded analytical series) ;  Females ;',
       '65 years and over ;  >> Underemployed part-time (prefer more hours) ;  Persons ;',
       '65 years and over ;  >> Underemployed part-time (prefer more hours) ;  Males ;',
       '65 years and over ;  >> Underemployed part-time (prefer more hours) ;  Females ;',
       '65 years and over ;  >> Underemployed part-time (worked less than usual hours for economic reasons) ;  Persons ;',
       '65 years and over ;  >> Underemployed part-time (worked less than usual hours for economic reasons) ;  Males ;',
       '65 years and over ;  >> Underemployed part-time (worked less than usual hours for economic reasons) ;  Females ;'],
      dtype='object', length=330)

In [7]:
# Fixing messy column names
# Remove unwanted ';' and '>' in the column name
df.columns = df.columns.str.strip().str.replace('  >', '').str.replace('>', '').str.replace('Persons', '').str.replace(';  ', '')
df.columns = df.columns.str.strip().str.replace('; ', '').str.replace(' ;', '(000)')

In [8]:
# Generate new columns for Year and Month
df.index = pd.to_datetime(df.index)
year = df.index.year
month = df.index.month 
df.insert(0, 'Year', year)
df.insert(1, 'Month', month)

In [9]:
# Check if column names are more organised
df.head()

,Year,Month,Employed total (000),Employed total Males(000),Employed total Females(000),Employed full-time (000),Employed full-time Males(000),Employed full-time Females(000),Employed part-time (000),Employed part-time Males(000),...,65 years and over Underemployed full-time (prefer more hours) Females(000),65 years and over Underemployed part-time (expanded analytical series) (000),65 years and over Underemployed part-time (expanded analytical series) Males(000),65 years and over Underemployed part-time (expanded analytical series) Females(000),65 years and over Underemployed part-time (prefer more hours) (000),65 years and over Underemployed part-time (prefer more hours) Males(000),65 years and over Underemployed part-time (prefer more hours) Females(000),65 years and over Underemployed part-time (worked less than usual hours for economic reasons) (000),65 years and over Underemployed part-time (worked less than usual hours for economic reasons) Males(000),65 years and over Underemployed part-time (worked less than usual hours for economic reasons) Females(000)
2014-07-01,2014,7,11542.2,6224.37,5317.79,8043.65,5172.64,2871,3498.51,1051.72,...,1.20505,31.562,20.5138,11.0482,21.5109,13.4896,8.02124,10.0511,7.02412,3.02697
2014-08-01,2014,8,11572.8,6225.33,5347.43,7964.24,5120.65,2843.59,3608.53,1104.68,...,1.40896,36.1222,23.2025,12.9197,25.3303,16.7978,8.53249,10.7919,6.40469,4.38724
2014-09-01,2014,9,11533.8,6214.98,5318.8,7978.37,5130.97,2847.4,3555.41,1084.01,...,2.05843,34.3292,22.6315,11.6977,20.2522,13.7238,6.52839,14.077,8.90766,5.16929
2014-10-01,2014,10,11550.1,6229.69,5320.46,7981.69,5134.2,2847.49,3568.46,1095.49,...,0.118423,29.8001,20.1965,9.60356,18.7409,11.8057,6.93523,11.0592,8.39086,2.66833
2014-11-01,2014,11,11581.7,6259.75,5321.97,8012.77,5187.1,2825.67,3568.96,1072.66,...,0.86537,28.3996,19.2162,9.1834,16.9289,11.9064,5.02253,11.4707,7.30981,4.16087

In [10]:
df.dtypes

Year                                                                                                           int64
Month                                                                                                          int64
Employed total (000)                                                                                          object
Employed total Males(000)                                                                                     object
Employed total Females(000)                                                                                   object
                                                                                                               ...
65 years and over Underemployed part-time (prefer more hours) Males(000)                                      object
65 years and over Underemployed part-time (prefer more hours) Females(000)                                    object
65 years and over Underemployed part-time (worked less than usual hours for economic reasons) (000)           object
65 years and over Underemployed part-time (worked less than usual hours for economic reasons) Males(000)      object
65 years and over Underemployed part-time (worked less than usual hours for economic reasons) Females(000)    object
Length: 332, dtype: object

In [11]:
# Convert all the columns from object to float or int with one touch
df = df.infer_objects()

In [12]:
df.columns

Index(['Year', 'Month', 'Employed total (000)', 'Employed total Males(000)',
       'Employed total Females(000)', 'Employed full-time (000)',
       'Employed full-time Males(000)', 'Employed full-time Females(000)',
       'Employed part-time (000)', 'Employed part-time Males(000)',
       ...
       '65 years and over Underemployed full-time (prefer more hours) Females(000)',
       '65 years and over Underemployed part-time (expanded analytical series) (000)',
       '65 years and over Underemployed part-time (expanded analytical series) Males(000)',
       '65 years and over Underemployed part-time (expanded analytical series) Females(000)',
       '65 years and over Underemployed part-time (prefer more hours) (000)',
       '65 years and over Underemployed part-time (prefer more hours) Males(000)',
       '65 years and over Underemployed part-time (prefer more hours) Females(000)',
       '65 years and over Underemployed part-time (worked less than usual hours for economic reasons) (000)',
       '65 years and over Underemployed part-time (worked less than usual hours for economic reasons) Males(000)',
       '65 years and over Underemployed part-time (worked less than usual hours for economic reasons) Females(000)'],
      dtype='object', length=332)

In [13]:
# Save cleaned dataframe as csv for further exploration
df.to_csv('Cleaned Underemployment Labour Market Data.csv')